@import url('https://fonts.googleapis.com/css?family=Asap');

/*Página de inicio */

.barra-negra {
	position: absolute;
	z-index: 3;
	width: 30%;
	height: 12%;
	left: 0%;
	bottom: 52%;
	background: rgba(0, 0, 0, 0.82);
}

.texto-barra-negra {
	z-index: 4;
	position: absolute;
	width: 59%;
	height: 11%;
	left: 1%;
	top: 36%;
	font-family: Arial;
	font-size: 20px;
	color: white;
	opacity: 1;
}

.image-banner {
	z-index: 1;
	position: absolute;
	width: 100%;
	height: 60%;
	left: 0px;
	top: 10%;
}

.mision-container {
	z-index: 2;
	background-color: #009fda;
	bottom: 25%;
	left: 0%;
	position: absolute;
	width: 100%;
	height: 24%;
	font-size: 33px;
	text-align: center;
	font-family: Asap;
	color: white;
}

.objetivo {
	z-index: 4;
	bottom: 22%;
	left: 0%;
	position: absolute;
	width: 100%;
	height: 20%;
	font-size: 23px;
	text-align: center;
	font-family: Asap;
	color: white;
}

.text-mision {
	z-index: 3;
	bottom: 26%;
	left: 0%;
	position: absolute;
	width: 100%;
	font-size: 20px;
	text-align: center;
	font-family: Arial;
	color: white;
}

.collage-image {
	position: absolute;
	width: 100%;
	height: 80%;
	top: 69%;
	left: 0%;
}


/* PÁGINAS DE LOS PAÍSES */


/* Barra lateral de países */

.lateral-bar {
	position: absolute;
	width: 35%;
	height: 130%;
	left: 0%;
	top: 10%;
	background: #0e2f53;
}

.bandera-peru,
.bandera-mexico,
.bandera-chile,
.bandera-brasil {
	position: absolute;
	width: 18%;
	height: 18%;
	left: 8%;
	top: 15%;
}

.texto-peru,
.texto-mexico,
.texto-chile,
.texto-brasil {
	position: absolute;
	width: 20%;
	height: 29px;
	left: 14%;
	top: 35%;
	color: white;
	font-family: Asap;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 2em;
}

.descripcion-peru,
.descripcion-mexico,
.descripcion-chile,
.descripcion-brasil {
	position: absolute;
	width: 32%;
	left: 1%;
	top: 44%;
	color: white;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 18px;
	text-align: center;
}


/*Selects de ordenado */

#ordenado-peru,
#ordenado-mexico,
#ordenado-chile,
#ordenado-brasil {
	z-index: 5;
	position: absolute;
	color: white;
	top: 115%;
	bottom: 120%;
	left: 12%;
	font-family: arial;
}

h4 {
	font-family: Asap;
	font-size: 1.2em;
}

select {
	margin-left: -18%;
	width: 170px;
	height: 50px;
	font-size: 18px;
	font-family: Asap;
	font-weight: bold;
}


/* Botones de categorías */

#boton-population,
#boton-violence,
#boton-unemployment,
#boton-alfabetizacion,
#boton-education,
#boton-population-mexico,
#boton-violence-mexico,
#boton-unemployment-mexico,
#boton-alfabetizacion-mexico,
#boton-education-mexico,
#boton-population-chile,
#boton-violence-chile,
#boton-unemployment-chile,
#boton-alfabetizacion-chile,
#boton-education-chile,
#boton-population-brasil,
#boton-violence-brasil,
#boton-unemployment-brasil,
#boton-alfabetizacion-brasil,
#boton-education-brasil {
	margin: 8% 2% 4%;
	text-decoration: none;
	padding: 5%;
	font-weight: 500;
	font-family: Asap;
	font-size: 15px;
	color: #ffffff;
	background-color: #0071BC;
	border-radius: 6px;
	border: 2px;
}

h3 {
	font-family: Asap;
	margin-top: 5%;
}


/* Tablas de indicadores por país */

.tables-of-peru,
.tables-of-mexico,
.tables-of-chile,
.tables-of-brasil {
	position: absolute;
	top: 13%;
	margin-left: 35%;
	width: 50%;
	height: 100%
}

td {
	color: black;
	font-family: arial;
}

table {
	width: 110%;
}

.rwd-table {
	margin: 1em 0;
	min-width: 300px;
}


/* Pie de página */

#pie-de-pagina {
	position: absolute;
	width: 100%;
	height: 8%;
	left: 0%;
	bottom: 0%;
	top: 145%;
	background: #000000;
}

.icon-footer {
	left: 0%;
}

.texto-footer {
	z-index: 5;
	bottom: 40%;
	left: 70%;
	position: absolute;
	color: white;
	font-size: 14px;
	font-family: Arial;
	right: 0%;
}
