@import url('https://fonts.googleapis.com/css?family=Asap');
.menu, .navbar, .main-nav, .main-nav li, .logo,
.navbar-toggle, .active {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.menu {
    font-family: Asap;
}

.navbar {
    width: 100%;
    z-index: 100;
    position: absolute;
    font-size: 18px;
    background: white;
    border: 1px solid #e4e4e4;
}

.main-nav {
    background: white;
    list-style-type: none;
    display: none;
}

#inicio, #peru-menu, #chile-menu,
#mexico-menu, #brasil-menu {
    text-decoration: none;
    color: #1b80c3;
    padding: 28px;
    font-family: Asap;
    font-size: 21px;
}

#inicio:hover, #peru-menu:hover, #chile-menu:hover,
#mexico-menu:hover, #brasil-menu:hover {
    color: #0e2f53;
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    width: 18em;
    height: 4em;
    margin-left: 1%;
}

.navbar-toggle {
    margin-top: 2.5%;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
}

.active {
    display: block;
}

.tables-peru, .tables-mex, .tables-chl, .tables-brs {
    position: absolute;
    margin-bottom: 0%;
    margin-left: 6%;
    width: 50%;
}

.bar-3 {
    position: absolute;
    z-index: 3;
    width: 40%;
    height: 12%;
    left: 0%;
    bottom: 55%;
    background: rgba(0, 0, 0, 0.82);
}

.text-bar-3 {
    z-index: 4;
    position: absolute;
    width: 55%;
    height: 11%;
    left: 1%;
    top: 35%;
    font-family: Arial;
    font-size: 12%;
    color: white;
    opacity: 1;
}

.image-banner {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 35%;
    left: 0px;
    top: 10.7%;
    background: url(https://i.ibb.co/xMM20hy/sentisis-inside-feb17-grano01.png);
}

.objetivo {
    bottom: 30%;
    left: 0%;
    position: absolute;
    width: 100%;
    height: 20%;
    font-size: 23px;
    text-align: center;
    font-family: Asap;
    color: white;
}
.text-mision {
    bottom: 38%;
    left: 0%;
    position: absolute;
    width: 100%;
    font-size: 19px;
    text-align: center;
    font-family: Arial;
    color: white;
}

.collage-image {
    position: absolute;
    width: 100%;
    height: 80%;
    top: 63%;
    left: 0%;
}

.lateral-bar {
    position: absolute;
    width: 100%;
    height: 140%;
    left: 0.87%;
    top: 12%;
    background: #0e2f53;
    mix-blend-mode: normal;

}

.bandera-peru, .bandera-mexico,
.bandera-chile, .bandera-brasil {
    position: absolute;
    width: 100px;
    height: 5%;
    left: 4.5%;
    top: 18%;
    mix-blend-mode: normal;
}

.texto-peru, .texto-mexico,
.texto-chile, .texto-brasil {
    position: absolute;
    width: 20%;
    height: 29px;
    left: 10.5%;
    top: 258px;
    color: white;
    font-family: Asap;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
}

.descripcion-peru, .descripcion-mexico,
.descripcion-chile, .descripcion-brasil {
    position: absolute;
    width: 278px;
    height: 94px;
    left: 1.8%;
    top: 297px;
    color: white;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    text-align: center;
}

#order, #order-2, #order-3,
#order-4 {
    z-index: 5;
    position: absolute;
    color: white;
    top: 20%;
    bottom: 80%;
    right: 4%;
    font-family: arial;
}

#boton-population, #boton-violence, #boton-unemployment,
#boton-alfabetizacion, #boton-education,
#boton-populationMex, #boton-violenceMex,
#boton-job, #boton-unemploymentMex,
#boton-alfabetizacionMex, #boton-educationMex,
#boton-jobMex,
#boton-populationChil, #boton-violenceChil,
#boton-jobChil,
#boton-unemploymentChil, #boton-alfabetizacionChil,
#boton-educationChil, #boton-populationBra,
#boton-violenceBra, #boton-jobBra,
#boton-unemploymentBra, #boton-alfabetizacionBra, #boton-educationBra {
  margin: 30px 1px 6px;
  text-decoration: none;
  padding: 15px;
  font-weight: 500;
  font-size: 3%;
  color: #ffffff;
  background-color: #0071BC;
  border-radius: 6px; border: 2px;
  margin-top: 10%;
}

.mision-container {
    background-color: #009fda;
    bottom: 37%;
    left: 0%;
    position: absolute;
    width: 100%;
    height: 20%;
    font-size: 33px;
    text-align: center;
    font-family: Asap;
    color: white;

}

#pie-de-pagina {
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 8%;
    left: 0%;
    bottom: 0%;
    background: #000000;
}

.icon-footer {
    left: 0%;
    width: 50%;
    height: 20%;
}

.texto-footer {
    z-index: 5;
    bottom: 40%;
    left: 70%;
    position: absolute;
    color: white;
    font-size: 3%;
    font-family: Arial;
    right: 0%;
}

/* RESPONSIVE */

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    #inicio, #peru-menu, #mexico-menu,
    #chile-menu, #brasil-menu {
        margin-left: 40px;
    }

    .logo {
        margin-top: 0;
    }

    .navbar-toggle {
        display: none;
    }
}
